---
import NavigationBar from "../components/fragments/NavigationBar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavigationBar />
    <slot />
  </body>
</html>

<style is:global>
  .section-padding-x {
    @apply px-6 sm:px-8 md:px-12 lg:px-16 xl:px-20;
  }

  .header-font-size {
    @apply text-4xl sm:text-5xl lg:text-6xl;
  }

  .sub-header-font-size {
    @apply text-3xl sm:text-4xl lg:text-5xl;
  }

  .normal-font-size {
    @apply text-sm sm:text-base;
  }

  .small-font-size {
    @apply text-xs sm:text-sm lg:text-base;
  }

  .extra-small-font-size {
    @apply text-xs lg:text-sm;
  }
</style>
